body {
  line-height: 10px;
  box-sizing: border-box;
  text-align: center;
}
.frame {
  width: 55%;
  height: 1100px;
  border: 2px solid blue;
  margin: auto;
  position: relative;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
}
.transparent {
  width: 85%;
  height: 1040px;
  background-color: black;
  margin: auto;
  margin-top: 30px;
  margin-left: 7%;
  opacity: 0.3;
  position: absolute;
}
.title {
  position: relative;
  margin-top: 90px;
  box-sizing: border-box;
}
.title h1 {
  display: inline;
  color: white;
  font-size: 45px;
  font-family: arial black;
}
.colred {
  color: red;
}
.title h3 {
  font-size: 23px;
  font-style: italic;
  color: rgb(219, 209, 209);
}